.auth-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #0f172a;
  color: white;
}

.auth-box {
  background: #1e293b;
  padding: 2rem;
  border-radius: 12px;
  width: 320px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #6366f1;
  border: none;
  color: white;
  border-radius: 6px;
}